<nav>
  <div class="site-title">
    <a href="/"><h1>Node Info</h1></a>
    <p>A Node and MongoDB Site</p>
  </div>
  <ul>
    <li><a href="/">Infos</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Infos</a></li>
  </ul>
</nav>